

   table{border-collapse:collapse;}
th,tr,td{
	border:1px solid #000;
	width:100px;
	height:45px;
	vertical-align:middle;
	text-align:center;
}
th{
	color:#fff;
	background-color: #252525;
}

tr:nth-child(odd) td{
	background-color:#eee;
}
    
    
table tr td {

    width: 1%;
    white-space: nowrap;
}

td {
    color: #990033;
  }

